.title3 {
    position: absolute;
    display: flex;

    margin-top: 1575px;
    margin-left: 135px;

}

.title3 h2{
    color: #121212;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
}

.title3 h2 span{
    color: #514A7E;
    font-family: 'Sansdiego Style', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.406%;
}

.sale {
    display: inline-flex;
    margin-left: 130px;
    margin-top: 1750px;
}

.pr1 {
    margin: 10px;
}

.pr2 {
    margin: 10px;
}

.pr3 {
    margin: 10px;
}

.pr4 {
    margin: 10px;
}